* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    --bg-color: #f7f7f7;
    --second-bg-color: #eaeaea;
    --text-color: #3f3844;
    --main-color: #3363ff;
    --other-color: #5d6c83;
}

html {
    font-size: 62.5%;
    /* Esto equivale a 1 rem -> 10px */
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    font-size: 1.6rem;
    color: var(--text-color);
    font-family: "AR One Sans", sans-serif;
}

section {
    /* Esto lo que hace es que cada sección ocupe el 100% de la pantalla al momento de selecionarla */
    min-height: 100vh;
    padding: 10rem 10% 2rem;
}

/* Utilidades */

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.heading-description {
    font-size: 1.8rem;
    margin-bottom: 3px;
    text-align: center;
}

span {
    color: var(--main-color);
}

/* Estilo de header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;

    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
    background-color: var(--bg-color);
    box-shadow: 0 1px .3rem var(--text-color);
}

header .logo {
    color: var(--main-color);
    font-size: 2.5rem;
    font-weight: bold;
    transition-duration: .5s;
    /* Esto lo que hace es agregar un tiempo de transición cuando se utiliza hover */
}

.logo:hover {
    transform: scale(1.05);
    /* Esto lo que hace es modificar visualmente el elemento, escalar, moverlo, rotar e inclinar (transform) y el scale lo que hace es modificar el tamaño en este caso 1.05 = 105%. */
}

header .navbar {
    display: flex;
    gap: 1.5rem;
}

header .navbar a {
    color: var(--text-color);
    font-weight: 600;
    transition: .3s ease;
    border-bottom: .2rem solid transparent;
}

.navbar a:hover,
.navbar a.active {
    border-bottom-color: var(--main-color);
    color: var(--main-color);
}

/* Estilos para Home */

.home {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(../assest/home-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-content {
    width: 60%;
    margin-left: 5rem;
    padding: 5rem 2rem;
    background-color: rgb(247, 247, 247, 0.9);
    border: .2rem solid var(--main-color);
    border-radius: 2rem;
}

.home-content h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.home-content p {
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

/* Estilo Social Media */
.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.2rem;
    height: 4.2rem;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease;
}

.social-media a:hover {
    transform: scale(1.2) translateY(-1rem);
    color: var(--bg-color);
    background-color: var(--main-color);
    box-shadow: 0 0 2.5rem var(--main-color);
}

.btn,
.btn-whatsapp {
    display: inline-block;
    padding: 1rem 2.8rem;
    margin: 1rem 3rem 1rem 0;
    background-color: var(--main-color);
    color: var(--bg-color);
    border-radius: 4rem;
    font-size: 2rem;
    font-weight: 400;
    transition: .3s ease;
}

.btn-whatsapp {
    display: inline-flex;
    align-items: center;
    background-color: green;
}

.btn-whatsapp i {
    font-size: 2.5rem;
    padding-left: 0.7rem;
    padding-right: 1rem;
}

.btn-whatsapp p {
    margin: 0;
    border-left: .2rem solid var(--bg-color);
    padding-left: 1rem;
}

.btn-whatsapp:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2.5rem green;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2.5rem var(--main-color);
}

/* Estilo de about */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--second-bg-color);
}

.about .heading {
    text-align: start;
}

.about .picture img {
    width: 30vw;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 2.5rem var(--main-color);
    cursor: pointer;
    transition: .4 ease;
    animation: floatImage 4s ease-in-out infinite;
}

.about .picture img:hover {
    box-shadow: 0 0 2.5rem var(--main-color),
        0 0 3.5rem var(--main-color),
        0 0 4.5rem var(--main-color);
    /* Esto lo que hace es tomar de valor inicial el boxS de arriba y le agregamos valores superiores para hacer animación de que van creciendo */
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.about-content{
    padding: 0 4rem;
}

.about-content h2{
    line-height: 1.3;
}

.about-content h3{
    font-size: 3rem;
}

.about-content p{
    margin: 2rem 0 3rem;
    font-size: 1.8rem;
    font-weight: 400;
}

/* Estilos de habilidades de About */

.content-skills{
    display: flex;
    padding: 1.5rem 0 3rem 1.5rem;
    gap: 4rem;
}

.skills h3{
    display: inline-block;
    border-bottom: .2rem solid var(--main-color);
}

.content-skills .item-skill{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-skills .item-skill span{
    color: var(--text-color);
    font-weight: 600;
}

.content-skills .item-skill i{
    font-size: 5rem;
}

/* Estilo services */

.heading-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.heading-services h2{
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.heading-services p{
    color: var(--text-color);
    font-weight: 500;
}

.services-content{
    display: flex;
    gap: 3rem;
    margin:0;
    padding: 1rem;
}

.services-content .service-window{
    background-color: var(--second-bg-color);
    border: .2rem solid var(--main-color);
    border-radius: 2rem;
    margin-top: 2rem;
    padding: 5rem 2rem 3rem;
    transition: .3s ease;
}

.services-content .service-window i{
    font-size: 5rem;
    color: var(--main-color);
}

.services-content .service-window h3{
    font-size: 2.5rem;
    margin: 1rem 0;
}

.services-content .service-window p{
    color: var(--text-color);
    font-weight: 600;
}

.services-content .service-window .btn-now{
    display: inline-flex;
    align-items: center;
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 600;
    line-height: 2;
    margin: 1rem 0;
    border-bottom: .2rem solid var(--text-color);
    transition: .3s ease;
}

.services-content .service-window .btn-now>i{
    font-size: 2.5rem;
    margin-left: 1rem;
}

.services-content .service-window:hover{
    transform: scale(1.02);
}

.services-content .service-window .btn-now:hover{
    border-bottom: .2rem solid var(--main-color);
}